@import "../styles/_breakpoints.scss";

.info-section {
  padding: 4rem 2rem;
  text-align: center;
  background: url("/img/info-bg.jpg") center/cover no-repeat fixed;
  margin-top: var(--spacing-md);
  margin-bottom: var(--spacing-md);

  h2 {
    font-size: var(--font-size-title);
    margin-bottom: 3rem;
    color: var(--color-white);
    text-shadow: 5px 1px 3px rgba(0, 0, 0, 1);
  }
}

/* ===== GRID ===== */
.info-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  justify-items: center;
  align-items: start;
  

  @include responsive(desktop) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include responsive(mobile) {
    grid-template-columns: 1fr;
  }
}

/* ===== CARD ===== */
.info-card {
  background-color: var(--color-white);
  width: 60%;
  border-radius: 16px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
  padding: 2rem 1rem;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  text-align: center;
  overflow: hidden;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 24px rgba(0, 0, 0, 0.12);
  }

  h3 {
    font-size: var(--font-size-medium);
    margin-bottom: 0.3rem;
    border-bottom: 2px solid var(--color-secondary);
    display: inline-block;
    padding-bottom: 0.3rem;
  }

  .arrow {
    font-size: var(--font-size-medium);
    color: var(--color-dark);
    transition: transform 0.3s ease;
    margin-top: 0.5rem;

    &.up {
      transform: rotate(180deg);
    }
  }

  .info-content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, opacity 0.4s ease;
    margin-top: 0;

    &.visible {
      max-height: 300px;
      opacity: 1;
    }

    p {
      color: var(--text-secondary);
      font-size: var(--font-size-base);
      line-height: 1.6;
      margin: 0 auto;
      max-width: 90%;
    }
  }
}

/*  TABLET  */
@media (max-width: 1024px) {
  .info-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .info-card h3 {
    font-size: var(--font-size-medium)
  }

  .info-card .info-content p {
    font-size: var(--font-size-base)
  }
}

/* MOBILE */
@media (max-width: 768px) {
  .info-grid {
    grid-template-columns: 1fr;
  }

  .info-card {
    padding: 1.5rem 0.8rem;
  }

  .info-card h3 {
    font-size: var(--font-size-base)
  }

  .info-card .info-content p {
    font-size: 0.8rem;
  }
}

/* SMALL MOBILE */
@media (max-width: 480px) {
  .info-card h3 {
    font-size: var(--font-size-base)
  }

  .info-card .info-content p {
    font-size: 0.8rem;
  }
}

